/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	color: #44545E;
	font-size: 15px;
}

img {
	max-width: 100%;
}

/* ----------------------------------------
Typography
------------------------------------------- */
h1, h2, h3 {
	font-weight: 600;
	text-transform: uppercase;
}

h1 {
	font-size: 37.5px;
}

p {
	font-family: 'Lato', sans-serif;
	line-height: 1.4;
}


/* ----------------------------------------
Layout
------------------------------------------- */
.vertical-center {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.wrap {
		display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
	max-width: 50%;
	margin: 0 auto;
}

.col-two {
	width: 75%;
}

.col-third {
	width: 25%;
}

section {
	text-align: left;
	padding: 0 30px 55px 30px;
}


/* ----------------------------------------
Nav
------------------------------------------- */
nav {
	background-color: #fff;
	position: fixed;
	left: 0;
    right: 0;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
}

nav li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #7B98AA;
	padding: 3px 60px;
}


/* ----------------------------------------
Header
------------------------------------------- */
header {
	padding-top: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/blog_header_bg.jpg');
	background-attachment: fixed;
	height: 100vh;
	background-position: center;
	margin-bottom: 60px;
}

header h1 {
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

header a{
	text-decoration: none;
	color: #fff;
}

/* ----------------------------------------
Footer
------------------------------------------- */

footer {
	background-color: #CDF3F6;
	overflow: auto;
	padding: 30px 15px;
}

.social-media {
	margin-bottom: 30px;
}

.social-media a{
	font-size: 30px;
	color: #44545E;
	padding: 15px;
}

.social-media a:hover{
	color: white;
	font-weight: 600;
}

footer input {
	margin: 0 30px 12px 0;
	padding: 11px 10px;
	width: 300px;
	border: 0;
	text-align: center;
}

::-webkit-input-placeholder {
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-size: 12.299px;
   font-weight: 600;
}

:-moz-placeholder { /* Firefox 18- */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-size: 12.299px;
   font-weight: 600;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-size: 12.299px;
   font-weight: 600;
}

:-ms-input-placeholder {
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   font-size: 12.299px;
   font-weight: 600;
}

.copyright {
	border-top: 2px solid #44545E;
	padding: 15px 0 3px;
}
/* ----------------------------------------
Aside
------------------------------------------- */
aside {
	text-align: left;
    padding: 48px 30px 0 0;
}
	
aside img {
	padding: 32px 0;
}

aside li {
	text-align: left;
	padding-bottom: 1.1em;
}

aside a {
	color: #7B98AA;
	font-weight: 600;
	text-decoration: none;
}



/* ----------------------------------------
Buttons
------------------------------------------- */

button {
	cursor: pointer;
	outline: 0;
	border: 2px solid #44545E;
	color: #44545E;
	padding: 8px 25.5px;
	background-color: transparent;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 1.2px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

button:hover {
	background-color: #44545E;
	color: white;
	font-weight: 600;
}
