/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin: 0;
}

/* ----------------------------------------
Typography
------------------------------------------- */
h1 {
	font-size: 37.5px;
}

/* ----------------------------------------
Lists
------------------------------------------- */
ul{
	list-style: none;
}


/* ----------------------------------------
Layout
------------------------------------------- */
.vertical-center {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

/* ----------------------------------------
Nav
------------------------------------------- */
nav {
	background-color: #fff;
	position: fixed;
	left: 0;
    right: 0;
}

nav li {
	display: inline-block;
}

nav li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #7B98AA;
	padding: 3px 60px;
}



/* ----------------------------------------
Header
------------------------------------------- */
header {
	padding-top: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/blog_header_bg.jpg');
	background-attachment: fixed;
	height: 100vh;
}

header h1 {
	letter-spacing: 0.3em;
	text-transform: uppercase;
}

header a{
	text-decoration: none;
	color: #fff;
}

/* ----------------------------------------
Footer
------------------------------------------- */

/* ----------------------------------------
Aside
------------------------------------------- */

/* ----------------------------------------
Articles
------------------------------------------- */


/* ----------------------------------------
Buttons
------------------------------------------- */
